<section class="card-section">
  <form class="card-form" [formGroup]="cardForm">
    <article>
      <div class="little-info">
        <h3>{{card ? 'Editar Cartão' : 'Novo Cartão'}}</h3>
        <p *ngIf="!card">
          Cadastre seus cartões para ter o controle de suas faturas, limites, frequencia de uso e muito mais.
        </p>
        <p *ngIf="card">
          Ajuste os limites do seu cartão aqui caso esteja divergente do valor real.
        </p>
      </div>
    </article>
    <me-message [messages]="messages" [hasSuccess]="hasSuccess"></me-message>

    <div [class.has-error]="cardForm.get('name').hasError('required') && submited" class="form-group">
      <label for="description">Descrição</label>
      <input formControlName="name" type="text" class="form-control" placeholder="Ex: Credicard Gold - dia 23" id="description">
    </div>

    <div [class.has-error]="(cardForm.get('number').hasError('required') || cardForm.get('number').hasError('minlength')) && submited"
      class="form-group">
      <label for="numero">Numero</label>
      <input formControlName="number" mask="0000 0000 0000 0000" type="text" class="form-control" id="numero">
    </div>

    <div class="row">
      <div class="col-sm-2">
        <div [class.has-error]="cardForm.get('payday').hasError('required') && submited" class="form-group">
          <label for="vencimento">Vencimento</label>
          <select formControlName="payday" class="form-control" id="vencimento">
            <option value="1">01</option>
            <option value="2">02</option>
            <option value="3">03</option>
            <option value="4">04</option>
            <option value="5">05</option>
            <option value="6">06</option>
            <option value="7">07</option>
            <option value="8">08</option>
            <option value="9">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="form-group">
          <label for="limite-total">Limite Total</label>
          <input currencyMask formControlName="limit" type="tel" class="form-control" id="limite-total">
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label for="limite-atual">Limite Atual</label>
          <input currencyMask formControlName="actualLimit" type="tel" class="form-control" id="limite-atual">
        </div>
      </div>
    </div>
    <div class="part-btn">
      <button (click)="addCard()" class="btn btn-success btn-large">Salvar</button>
    </div>
  </form>
</section>