<header class="main-header">

  <!-- Logo -->
  <a [routerLink]="['/home']" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <b>M</b>Ex</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <b>M</b>arcia
      <b>E</b>xpress</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div *ngIf="authService.isLogged" class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- Notifications Menu -->
        <li class="dropdown notifications-menu">
          <!-- Menu toggle button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span *ngIf="notifyContainer?.news > 0" class="label label-warning">{{notifyContainer?.news}}</span>
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="notifyContainer?.news > 0" class="header">Você tem {{notifyContainer?.news}} {{notifyContainer?.news > 1 ? 'novas notificações': 'nova notificação'}}</li>
            <li *ngIf="notifyContainer?.news == 0" class="header">Nenhuma nova notificação</li>
            <li *ngIf="notifyContainer?.news > 0">
              <!-- Inner Menu: contains the notifications -->
              <ul class="menu">

                <li *ngFor="let notify of notifyContainer?.notifies">
                  <a [routerLink]="['notify']" class="click-cursor" [title]="notify.message">
                    <i *ngIf="!notify.user" class="fa fa-user text-yellow"></i>
                    <i *ngIf="notify.user" class="fa fa-shopping-cart text-green"></i>
                    <b>{{notify.message}}</b>
                  </a>
                </li>

              </ul>
            </li>
            <li class="footer">
              <a class="click-cursor" [routerLink]="['notify']">Ver todas</a>
            </li>
          </ul>
        </li>

        <li>
          <a (click)="logout()" data-toggle="control-sidebar">
            <i class="fa fa-sign-out"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>