<header class="main-header">
  <a [routerLink]="['/home']" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <b>M</b>E</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <i class="fa fa-sellsy fa-lg"></i>
      <b>M</b>arcia
      <b>E</b>xpress</span>
  </a>

  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navegation</span>
    </a>
  </nav>
</header>