<table [class]="classes">
    <thead>
      <tr>
        <th>Data Compra</th>
        <th>Produto</th>
        <th>Local da compra</th>
        <th *ngIf="showUserColumn">Usuario</th>
        <th *ngIf="showCardColumn">Cartão</th>
        <th>Valor</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let register of registers">
        <td>{{register.buyAt | date:'dd/MM/yyyy'}}</td>
        <td>
          <span class="text-muted">{{register.actual}}</span> {{register.productName}}</td>
        <td>{{register.local}}</td>
        <td *ngIf="showUserColumn">{{register.username}}</td>
        <td *ngIf="showCardColumn">{{register.cardName}}</td>
        <td class="text-normal">{{register.value | currency:'BRL':true}}</td>
      </tr>
      <tr *ngIf="registers?.length == 0">
          <td colspan="6" class="text-center">Nenhum registro foi feito para este periodo.</td>
      </tr>
    </tbody>
  </table>