<section class="userlist-section">

  <div class="box box-success userlist">
    <me-message *ngIf="message" [hasSuccess]="'true'" [messages]="[message]"></me-message>
    <div class="box-header with-border">
      <h2 class="box-title">Usuarios Cadastrados</h2>
    </div>

    <div class="box-body">
      <me-search-form placeholder="Digite o nome do usuario" (search)="searchUser($event)"></me-search-form>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Nome</th>
            <th>Celular</th>
            <th>@Usuario</th>
            <th class="text-center">Funções</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of usuarios">
            <td class="text-center">{{usuarios.indexOf(user) + 1}}</td>
            <td class="capitalize">{{user?.completeName}}</td>
            <td>{{user?.cellphone}}</td>
            <td>{{user?.username}}</td>
            <td class="text-center">
              <a [routerLink]="['/users/edit/',user._id]" title="Editar" class="btn btn-sm btn-success">
                <i class="fa fa-edit"></i>
              </a>
              <a  [routerLink]="['/users/details/',user._id]" title="Detalhes" class="btn btn-sm btn-warning">
                <i class="fa fa-info-circle"></i>
              </a>
              <button (click)="deactivateUser(user._id)" *ngIf="user?.active"  title="Remover" class="btn btn-sm btn-danger">
                <i class="fa fa-remove"></i>
              </button>
              <button (click)="activateUser(user._id)" *ngIf="!user?.active"  title="Remover" class="btn btn-sm btn-info">
                  <i class="fa fa-eye"></i>
                </button>
            </td>
          </tr>
          <tr *ngIf="usuarios?.length == 0">
            <td class="text-center" colspan="5">Nenhum usuario encontrado</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>