.register-list{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.register-panel{
    flex-basis: 98%;
    padding: 20px;
}

.form-inline{
    display: flex;
}

.form-inline label{
    padding-right: 10px;
}