<section class="register-list">

  <div class="box box-success register-panel">

    <div class="box-header with-border">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h2 class="box-title">Resumo Mensal</h2>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="form-inline">
            <div class="form-group">
              <label for="paymentMonth">Periodo atual</label>
              <me-combo-mes [showYearBox]="true" [idElement]="'paymentMonth'" (setPeriod)="updateRegister($event)" [classes]="'form-control sizing'"></me-combo-mes>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="box-body">
      <me-register-table [classes]="'table table-responsive table-striped table-bordered'"
      [registers]="registersView"></me-register-table>
    <!--   <table class="table table-responsive table-striped table-bordered">
        <thead>
          <tr>
            <th>Data Compra</th>
            <th>Produto</th>
            <th>Local da compra</th>
            <th>Valor</th>
            <th class="text-center">Funções</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let register of registersView">
            <td>{{register.buyAt | date:'dd/MM/yyyy'}}</td>
            <td>
              <span class="text-muted">{{register.actual}}</span> {{register.productName}}</td>
            <td>{{register.local}}</td>
            <td class="text-normal">{{register.value | currency:'BRL':true}}</td>
            <td class="text-center">
              <button class="btn btn-success btn-sm">
                <i class="fa fa-info-circle"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="registers?.length == 0">
              <td colspan="5" class="text-center">Nenhum registro foi feito para este periodo.</td>
          </tr>
        </tbody>
      </table> -->
    </div>
    <div class="box-footer text-right">
      <span class="label-span">Total: </span>
      <span class="value-span">{{total | currency:'BRL':true}}</span>
    </div>
  </div>
</section>