<section class="list-section">

  <div class="box box-success card-list">
    <div class="box-header with-border">
      <h2 class="box-title">Meus Cartões</h2>
    </div>

    <div class="box-body">

      <me-search-form placeholder="Digite o nome do cartão" (search)="searchCard($event)"></me-search-form>

      <table class="table table-responsive table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Descrição</th>
            <th class="text-center">Final</th>
            <th class="text-center">Vencimento</th>
            <th class="text-center">Funções</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let card of cards">
            <td class="text-center">{{cards.indexOf(card) + 1}}</td>
            <td>{{card.name}}</td>
            <td class="text-center">{{card.number}}</td>
            <td class="text-center">{{card.payday}}</td>
            <td class="text-center">
              <a [routerLink]="['/cards',card.slug]" class="btn btn-success btn-sm">
                <i class="fa fa-edit"></i>
              </a>
              <a [routerLink]="['/cards',card.slug]" class="btn btn-warning btn-sm">
                <i class="fa fa-info-circle"></i>
              </a>
              <a [routerLink]="['/cards',card.slug]" class="btn btn-danger btn-sm">
                <i class="fa fa-remove"></i>
              </a>
            </td>
          </tr>

          <tr *ngIf="!cards">
            <td colspan="5" class="text-center">
              <p>Nenhum cartão encontrado...</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>