.user-detail-section{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.user-detail-panel{
    flex-basis: 98%;
    padding: 20px;
}

.text-warning{
    color: #f39c12;
}
.bg-warning{
    background-color: #f39c12;
    color:white;
}

.bg-primary{
    background-color: #00a65a;
    color:white;
}

.bg-muted{
    background-color: #ddd;
}

.box-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.box-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-box{
    flex-basis: 49%;
}

.pd-top{
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

me-register-table{
    width: 100%;
    margin-top: 10px;
}

.division{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
