<section class="content-principal">

  <div class="estatisticas">

    <div class="box box-success principais">
      <div class="box-header with-border">
        <h2 class="home-title">Principais Compradores</h2>
      </div>
      <div class="box-body">
        <ul *ngIf="bestUsers.length">
          <li>
            <div class="list impar">
              <span>
                <i class="fa fa-trophy text-gold"></i> {{bestUsers[0]?.completeName}}</span>
              <a [routerLink]="['/users/details/',bestUsers.length ? bestUsers[0]._id: 0]">Ver detalhes</a>
            </div>
          </li>

          <li>
            <div class="list">
              <span>
                <i class="fa fa-trophy text-silver"></i> {{bestUsers[1]?.completeName}}</span>
              <a [routerLink]="['/users/details/',bestUsers.length ? bestUsers[1]._id: 0]">Ver detalhes</a>
            </div>
          </li>

          <li>
            <div class="list impar">
              <span>
                <i class="fa fa-trophy text-warning"></i> {{bestUsers[2]?.completeName}}</span>
              <a [routerLink]="['/users/details/',bestUsers.length ? bestUsers[2]._id: 0]">Ver detalhes</a>
            </div>
          </li>
        </ul>
        <p *ngIf="bestUsers.length == 0">Nenhuma estatisticas para este item.</p>
      </div>
    </div>

    <div class="box box-success principais">
      <div class="box-header with-border">
        <h2 class="home-title">Cartões mais utilizados</h2>
      </div>

      <div class="box-body">
        <ul *ngIf="bestCards.length">
          <li>
            <div class="list impar">
              <span>
                <i class="fa fa-trophy text-gold"></i> {{bestCards[0]?.name}}</span>
              <a [routerLink]="['/cards/detail/',bestCards.length ? bestCards[0]._id: 0]">Ver detalhes</a>
            </div>
          </li>

          <li>
            <div class="list">
              <span>
                <i class="fa fa-trophy text-silver"></i> {{bestCards[1]?.name}}</span>
              <a [routerLink]="['/cards/detail/',bestCards.length ? bestCards[1]._id: 0]">Ver detalhes</a>
            </div>
          </li>

          <li>
            <div class="list impar">
              <span>
                <i class="fa fa-trophy text-warning"></i> {{bestCards[2]?.name}}</span>
              <a [routerLink]="['/cards/detail/',bestCards.length ? bestCards[0]._id: 0]">Ver detalhes</a>
            </div>
          </li>
        </ul>
        <p *ngIf="bestCards.length == 0">Nenhuma estatisticas para este item.</p>
      </div>
    </div>

  </div>

  <div class=" notificacoes">

    <div class="box box-warning notify-container">
      <div class="box-header with-border">
        <h2 class="home-title">Notificações</h2>
      </div>

      <div class="box-body">
        <div *ngFor="let notify of notifyContainer?.notifies">
          <span>{{notify.registeredAt | date:'dd/MM/yyyy'}} - </span>
          <span class="notify text-green">{{notify.message}}</span>
        </div>
        <div><a [routerLink]="['/notify']">Ver todas</a></div>
        
        <p *ngIf="notifyContainer?.news == 0">Nenhuma notificação recebida.</p>
      </div>
    </div>
  </div>

</section>