.content-principal{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}


.funcoes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.funcao{
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    background-color:white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

/* override - this class is in style.css*/
.home-title{
    text-align: left;
    width: 100%;
}

.funcao p{
    text-align: justify;
    font-weight: 300;
}
.estatisticas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.principais{
    flex-basis: 98%;
    border-radius: 3px;
    background-color: white;
    padding: 0 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.principais ul{
    padding: 0;
}

.principais ul li div{
    padding: 3px 10px;
}

.notificacoes{
    display: flex;
    justify-content: space-around;
    flex-basis: 50%;
}

.notify-container{
    flex-basis: 98%;
    padding: 10px 20px;
    border-radius: 2px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.notify-container div{
    padding: 3px 10px;
}

@media screen and (max-width:840px){
    .funcao{
        flex-basis: 98%;
    }
    .estatisticas{
        flex-basis: 98%;
    }
    .principais{
        flex-basis: 98%;
    }
    .notificacoes{
        flex-basis: 98%;
    }


}