<aside class="main-sidebar">

  <section class="sidebar">

    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENU</li>
      <li>
        <a [routerLink]="['/users/add']">
          <i class="pY-5 fa fa-user-plus"></i>
          <span>Novo usuario</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/users']">
          <i class="pY-5 fa fa-address-card"></i>
          <span>Lista de usuarios</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/cards/add']">
          <i class="pY-5 fa fa-credit-card"></i>
          <span>Novo cartão</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/cards']">
          <i class="pY-5 fa fa-list-ul"></i>
          <span>Lista de cartões</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/cards/bills']">
          <i class="pY-5 fa fa-line-chart"></i>
          <span>Ver fatura</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/registers/add']">
          <i class="pY-5 fa fa-shopping-basket"></i>
          <span>Novo lançamento</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/registers']">
          <i class="pY-5 fa fa-bank"></i>
          <span>Resumo mensal</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/registers/export']">
          <i class="pY-5 fa fa-bank"></i>
          <span>Exportar Resumo</span>
          <span class="pull-right-container">
            <span class="label pull-right bg-yellow">Novo</span>
          </span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/registers/resume']">
          <i class="pY-5 fa fa-percent"></i>
          <span>Resumo financeiro</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['notify']" class="click-cursor">
          <i class="pY-5 fa fa-bell"></i>
          <span>Notificações</span>

          <span class="pull-right-container" *ngIf="notifyService.notifies?.news > 0">
            <span class="label pull-right bg-yellow">Nova</span>
          </span>
        </a>
      </li>
    </ul>
  </section>
</aside>
