<section class="form-section">


  <form [formGroup]="userForm" class="box box-success user-form">

    <div class="box-header with-border">
      <h3 class="box-title">Novo Usuario</h3>
    </div>


    <div class="box-body">

      <article>
        <div class="little-info">
          <p>
            Cadastrando um usuario você poderá realizar lançamentos de compras,conferir total mensal, enviar notificação com o total
            deste usuario e muito mais...
          </p>
        </div>
        <!-- 
            <div class="avatar-part">
              <div class="avatar">
                <i class="fa fa-camera fa-3x"></i>
              </div>
            </div> -->
      </article>
      <me-message [messages]="messages" [hasSuccess]="hasSuccess"></me-message>
    </div>

    <!--  <div class="form-group">
      <label for="profile-img">Foto perfil</label>
      <input type="file" id="profile-img">
    </div>
 -->
    <div [class.has-error]="userForm.get('completeName').hasError('required') && submited" class="form-group">
      <label for="nome">Nome completo</label>
      <input formControlName="completeName" type="text" class="form-control" id="nome">
    </div>

    <div [class.has-error]="userForm.get('cellphone').hasError('required') && submited" class="form-group">
      <label for="cel">Celular</label>
      <input formControlName="cellphone" type="text" class="form-control" id="cel">
    </div>

    <div [class.has-error]="userForm.get('username').hasError('required') && submited" class="form-group">
      <label for="usuario">Usuario</label>
      <input formControlName="username" type="text" class="form-control" id="usuario">
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div [class.has-error]="userForm.get('password').hasError('required') && submited" class="form-group">
          <label for="senha">Senha</label>
          <input formControlName="password" type="password" class="form-control" id="senha">
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div [class.has-error]="userForm.get('confirmation').hasError('required') && submited" class="form-group">
          <label for="confirmacao">Confirme a Senha</label>
          <input formControlName="confirmation" type="password" class="form-control" id="confirmacao">

          <p class="text-danger" *ngIf="userForm.get('confirmation').hasError('passwordMismatch') &&
                                        !userForm.get('confirmation').hasError('required') && submited">
            As senhas não combinam, tente novamente.
          </p>

        </div>
      </div>
    </div>
    <div class="part-btn">
      <button (click)="save()" class="btn btn-success btn-large">Salvar</button>
    </div>
  </form>
</section>